<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>FQPMS</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ProposalSearchServlet</display-name>
		<servlet-name>ProposalSearchServlet</servlet-name>
		<servlet-class>
		com.tcs.ilp.fqpms.controller.ProposalSearchServlet</servlet-class>
	</servlet>

		<servlet>
		<description>
		</description>
		<display-name>ProposalSubmitServlet</display-name>
		<servlet-name>ProposalSubmitServlet</servlet-name>
		<servlet-class>
		com.tcs.ilp.fqpms.controller.ProposalSubmitServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>ProposalManageServlet</display-name>
		<servlet-name>ProposalManageServlet</servlet-name>
		<servlet-class>
		com.tcs.ilp.fqpms.controller.ProposalManageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewProposalServlet</display-name>
		<servlet-name>ViewProposalServlet</servlet-name>
		<servlet-class>
		com.tcs.ilp.fqpms.controller.ViewProposalServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckInsuranceTypeServlet</display-name>
		<servlet-name>CheckInsuranceTypeServlet</servlet-name>
		<servlet-class>
		com.tcs.ilp.fqpms.controller.CheckInsuranceTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
		com.tcs.ilp.fqpms.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProposalSearchServlet</servlet-name>
		<url-pattern>/ProposalSearchServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ProposalSubmitServlet</servlet-name>
		<url-pattern>/ProposalSubmitServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ProposalManageServlet</servlet-name>
		<url-pattern>/ProposalManageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewProposalServlet</servlet-name>
		<url-pattern>/ViewProposalServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CheckInsuranceTypeServlet</servlet-name>
		<url-pattern>/CheckInsuranceTypeServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
			<servlet-name>LoginServlet</servlet-name>
			<url-pattern>/LoginServlet</url-pattern>
		</servlet-mapping>
	<welcome-file-list>	
		<welcome-file>/jsp/FQPMS_index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
